.article {
  .highlight {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    max-height: 18em;
    @include shadow(1);
  }
  iframe.highlight {
    height: 18em;
    width: 32em;
    border: 0;
  }
}
