// Typefaces
h1,
h2,
h3,
h4,
header,
nav {
  font-family: geosanslight-nmsregular, geosanslight-nms, 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
}
body {
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
}
h4 {
  margin: 5px 0;
}
