.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.card-list .card,
.search-area {
  margin-bottom: 10px;
}
.search-area {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  @include shadow(1);
}
.card,
.spotlight {
  background: #fff;
  box-sizing: border-box;
  @include shadow(1);
  border-radius: 2px;
  width: 100%;
  &.spoiler .header {
    background-color: #e22 !important;
  }
  &.dark-text:not(.spoiler) {
    .card-title {
      color: #000;
    }
    .categories li,
    .categories li a {
      color: #000;
    }
  }
  & > a {
    text-decoration: none;
  }
  .header {
    position: relative;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 5em;
    transition: height 0.5s, background-color 0.5s;
    display: flex;
    .card-title {
      margin: 0 0.5em;
      font-size: 1.6em;
      font-weight: bold;
      color: #fff;
      transition: color 0.5s, margin 0.5s, left 0.5s;
      align-self: center;
    }
    .element-symbol {
      display: inline-block;
      position: absolute;
      text-align: center;
      margin: 12px;
      top: 0;
      right: 0;
      color: #fff;
      font-size: 24px;
      border: 2px solid #fff;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
      @include size-square(32px);
    }
    .external {
      position: absolute;
      margin: 5px;
      top: 0;
      right: 0;
      @include size-square(15px);
    }
    .categories {
      margin: 0;
      padding: 5px 0 5px 5px;
      position: absolute;
      right: 0;
      transition: top 0.5s, opacity 0.5s;
      list-style: none;
      li {
        display: inline-block;
        background-color: transparentize($bg-color, 0.8);
        border-radius: 1em;
        margin-right: 0.4em;
        padding: 0.2em 0.5em;
        a,
        span {
          color: #fff;
          text-decoration: underline;
          cursor: pointer;
          background-image: url('/res/external.svg');
          background-size: 1em 1em;
          padding-left: 1em;
          background-position: left center;
          background-repeat: no-repeat;
          &:hover {
            text-decoration: none;
          }
        }
        &[data-id=atlas] a,
        &[data-id=atlas] span {
          background-image: url('/res/categories/atlas.svg');
        }
        &[data-id=crafting] a,
        &[data-id=crafting] span {
          background-image: url('/res/categories/crafting.svg');
        }
        &[data-id=economy] a,
        &[data-id=economy] span {
          background-image: url('/res/categories/economy.svg');
        }
        &[data-id=life] a,
        &[data-id=life] span {
          background-image: url('/res/categories/life.svg');
        }
        &[data-id=mechanics] a,
        &[data-id=mechanics] span {
          background-image: url('/res/categories/mechanics.svg');
        }
        &[data-id=meta] a,
        &[data-id=meta] span {
          background-image: url('/res/categories/meta.svg');
        }
        &[data-id=misc] a,
        &[data-id=misc] span {
          background-image: url('/res/categories/misc.svg');
        }
        &[data-id=news] a,
        &[data-id=news] span {
          background-image: url('/res/categories/news.svg');
        }
        &[data-id=objects] a,
        &[data-id=objects] span {
          background-image: url('/res/categories/objects.svg');
        }
        &[data-id=planets] a,
        &[data-id=planets] span {
          background-image: url('/res/categories/planets.svg');
        }
        &[data-id=stars] a,
        &[data-id=stars] span {
          background-image: url('/res/categories/stars.svg');
        }
        &[data-id=universe] a,
        &[data-id=universe] span {
          background-image: url('/res/categories/universe.svg');
        }
      }
    }
    .bgimg {
      width: 100%;
      height: 100%;
      z-index: 0;
      position: absolute;
      left: 0;
      background-size: cover;
      background-position: center;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      &::after {
        background-color: transparentize(#000, 0.5);
        content: ' ';
        z-index: 1;
        position: absolute;
        @include size-square(100%);
      }
    }
    *:not(.bgimg) {
      z-index: 1;
    }
  }
}
.spotlight {
  .header {
    height: 10em;
    padding-bottom: 1em;
    .card-title {
      align-self: flex-end;
      font-size: 3em;
    }
  }
}
.info-card {
  ul {
    padding: 0.5em;
    &.related,
    &.sources {
      list-style: none;
      li {
        color: #000 !important;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.origins-card {
  .score {
    background-image: url('https://dev.nmsorigins.com/res/score-polygon-vote.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 0.2em 0.5em;
    position: absolute;
    right: 0;
    border-radius: 1em;
    color: #fff;
    min-width: 1em;
    text-align: center;
  }
}
.card-content {
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  font-size: 1.1em;
  h4 {
    margin: 0 0.5em;
    font-size: 1.2em;
  }
  div.separator {
    border-bottom: 2px solid #aaa;
  }
  div:not(.separator) {
    & > * {
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    & > p {
      margin: 0 0.5em;
      padding: 0.5em;
    }
  }
  ul {
    margin: 0 0.5em;
    padding: 0.5em;
    &.categories,
    &.related,
    &.sources {
      list-style: none;
      li {
        display: inline-block;
        padding-right: 4px;
      }
    }
    &.categories {
      margin: 0;
      padding: 0;
    }
    &.related,
    &.sources {
      li {
        color: #000 !important;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .highlighted {
    background-color: #ffff88;
  }
  .external {
    cursor: pointer;
    @include size-square(1.5em);
  }
}
.external {
  display: inline-block;
  text-align: center;
  & ~ span {
    position: absolute;
    cursor: pointer;
  }
}
.search-area {
  padding: 16px;
  display: flex;
  input {
    margin: 5px;
    padding: 5px;
    font-size: 1.1em;
    background-color: #fff;
    color: #000;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    &[type=search] {
      flex: 1;
      box-shadow: none;
      transition: box-shadow 0.5s, opacity 0.5s;
    }
  }
}
.tag-list {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    background-color: transparentize(#000, 0.5);
    border-radius: 1em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    padding: 0.2em 0.5em;
    a,
    span {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
