$theme-color: #01385b;
$bg-color: #f2f2f2;
$card-color: #fff;
$shadow-color: rgba(0, 0, 0, .3);
/* Other variables */
// Media Queries
$media-tab: 'all and (min-width: 920px)';
$media-desk: 'all and (min-width: 1300px)';
