.cat-universe .header {
  background-color: #0F2F4C;
}
.cat-stars .header {
  background-color: #DB3C34;
}
.cat-planets .header {
  background-color: #003E70;
}
.cat-objects .header {
  background-color: #1A6D42;
}
.cat-mechanics .header {
  background-color: #2365B5;
}
.cat-atlas .header {
  background-color: #912E2E;
}
.cat-meta .header {
  background-color: #589E90;
}
.cat-crafting .header {
  background-color: #994A23;
}
.cat-news .header {
  background-color: #AD619E;
}
.cat-economy .header {
  background-color: #E2C716;
}
.cat-life .header {
  background-color: #669946;
}
.cat-misc .header {
  background-color: #EF6A0B;
}
